body {
    font-size: 18px;
}

.chat {
    width: 70%;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    height: 50px;
    padding: 50px;
}

.fa {
    display: inline
}

.scroller {
    padding-bottom: 20%;
    width: 90%;
    height: 30%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    margin: auto;
}

.current {
    font-size: 1.4em;
}

.current .bot {
    animation: fadeIn ease-in 1.2s;
}

form {
    text-align: center;
}

label {
    font-size: 1.5em;
}

input {
    position: flex;
    height: 100px;
    width: 60%;
}

.bot {
    text-align: left;
}

.user {
    text-align: right;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}