body {
    background-image: url("../assets/alt_back.jpeg");
    font-size: 16px;
    line-height: 1.5
}

.spacer {
    flex: 1 1 auto;
}

.box {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #FFFFFF;
    margin: 0% 20%;
}

.scroller {
    padding-bottom: 20%;
    width: 90%;
    height: 370px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    margin: auto;
    border-bottom: black;
}

.chat {
    margin: auto;
    font-family: sans-serif;
    height: 8%;
    padding: 5%;
    border-bottom: black;
}

.fa {
    display: inline
}

.current {
    font-size: 1.4em;
}

.current .bot {
    animation: fadeIn ease-in 1.2s;
}

form {
    text-align: center;
    padding-bottom: 5%;
}

label {
    background: #FFFFFF;
    font-size: 1.5em;
}

input {
    height: 100px;
    width: 60%;
    border-radius: 25px;
}

.bot {
    text-align: left;
}

.user {
    text-align: right;
}

.flexExpand {
    flex: 1 1 auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}