
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class = "top"></div>
<div class ="scroller">
<div class = "chat" *ngFor="let m of msgs">
  <img *ngIf="m[1]==='Bot'; else elseBlock"src="../assets/bot3.jpeg" alt="profile-img" />
  <ng-template #elseBlock>
    <img src="../assets/user3.jpeg" alt="profile-img" />
  </ng-template>
  <p><b>{{ m[1] }}</b>:  {{ m[0] }}</p>
</div>
</div>
<div class = "bottom"></div>

<form>
<label for="msg">Enter a message for the bot:</label><br>
<input type="text" id="msg" name="msg" value="Hello World" [(ngModel)]='inp'>
<button class="btn btn-primary" type="submit" (click)="onGoToSubmit()">Submit</button>
</form>
 